.img {
  border-style: none;
  max-width: 100%;
  height: auto;
}
.field-radio__title,
.field-checkbox__title,
.field-text__title {
  color:@field-color;
}
button,
input{
  margin: 0;
}
a,
button,
input {
  font: 15px/1.6 "opensans", Arial, sans-serif;
}
