@body-font-family: "open_sansregular", "Arial", sans-serif;
@body-font-bold: "open_sansbold", "Arial", sans-serif;

@body-font-weight: 700;

@min-width: 320px;

@body-color: #010000;
@body-background: #ffffff;
@footer-background: #f1f1f1;
@field-color: #63d1bb;


