.field-text {
  width: 328px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}
.field-text__title {
  background: #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 65px;
  margin-bottom: 28px;
}
.field-text__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.06;
  cursor: pointer;
}
.field-text__extra {
  border: 2px solid #444444;
  width: 260px;
  height: 142px;
  font-size: 14px;
  line-height: 1.06;
  color: rgba(68, 68, 68, 0.3);
  padding: 12px 15px;
  outline: none;
  max-width: 100%;
}
.required {
  font-size: 13px;
}
.send-order {
  margin: auto;
}
