.field-checkbox {
  width: 328px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}
.field-checkbox__title {
  background: #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 65px;
  margin-bottom: 28px;
}
.field-checkbox__item {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.06;
  cursor: pointer;
  width: 100%;
  position: relative;
  padding-left: 62px;
  margin-bottom: 43px;
}
