@import "../variables.less";

.advantages {
  width: @min-width;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages__item-descr {
  padding: 0;
  margin: 0;
}
