.field-text {
  margin-bottom: 9px;
}

.field-text__title-inner {
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 4px;
}
.field-text__title {
  background: #fff;
  vertical-align: top;
  width: 65px;
  margin-bottom: 28px;
}

.field-text__title-inner::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 11px;
  left: 0;
  z-index: -1;
  height: 1px;
  background: #63d1bb;
  display: block;
  margin-bottom: 100px;
}

.field-text__item {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.06;
  cursor: pointer;
  margin-bottom: 4px;
}

.field-text__input {
  border: none;
  border-bottom: 2px solid #000;
  width: 100%;
  margin-bottom: 21px;
  padding-bottom: 19px;
  padding-top: 10px;
  font-size: 17px;
  line-height: 1.06;
  color: #444;
  outline: none;
}

.field-text__input:hover,
.field-text__extra:hover{
   border-color: #62d1ba;
 }

.field-text__input:active,
.field-text__extra:active {
  border-color: #62d1ba;
}
.field-text__input::-moz-placeholder  {
  color: rgba(68,68,68,0.3)
}

.field-text__input::-webkit-input-placeholder {
  color: rgba(68,68,68,0.3)
}

.field-text__extra {
  border: 2px solid #444;
  width: 260px;
  height: 142px;
  font-size: 17px;
  line-height: 1.06;
  padding: 12px 15px;
  outline: none;
  max-width: 100%;
}
.field-text__extra::-moz-placeholder  {
  color: rgba(68,68,68,0.3)
}

.field-text__extra::-webkit-input-placeholder {
  color: rgba(68,68,68,0.3)
}
