.field-text {
  width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}
.field-text__title {
  background: @main-background-white;
  display: inline-block;
  vertical-align: top;
  width: 65px;
  margin-bottom: 28px;
}
.field-text__item {
  width: 100%;
  margin-bottom: 31px;
  padding-bottom: 17px;
  padding-top: 10px;
  font-size: 17px;
  line-height: 1.06;
  outline: none;
}
.field-text__extra {
  border: 2px solid #444444;
  width: 260px;
  height: 142px;
  font-size: 14px;
  line-height: 1.06;
  color: rgba(68,68,68,.3);
  padding: 12px 15px;
  outline: none;
  max-width: 100%;
}
