@import "../variables.less";

.page-header__logo {
  display: block;
  cursor: pointer;
}

.page-header__logo img {
  margin: 0 auto;
  width: 86px;
  display: block;
}

.page-header__inner {
  font-weight: 700;
  line-height: 1.11;
  padding: 71px 0 76px;
  margin-bottom: 28px;
  background: #f1f1f1;
  text-align: center;
  margin-top: 0;
}

.header-title {
  width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  display: block;
  font-size: 27px;
}
